body {
  background-color: rgb(48, 202, 74);
}

header h1 {
  color: rgb(5, 5, 5);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0;
}
#apaga-tudo {
  border: none;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(250, 22, 6);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

#salvar-tarefas {
  border: none;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(35, 172, 16);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

#remover-finalizados {
  border: none;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(14, 157, 182);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

#funcionamento {
  color: gray;
  font-style: italic;
  margin-top: 0;
}

/* Button que adiciona nova tarefa */
#criar-tarefa {
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(18, 194, 179);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

/* Meu input */
#texto-tarefa {
  border: 1px solid blue;
}

.completed {
  text-decoration: line-through;
}

.teste {
  margin: 30px;
  padding: 30px;
  height: auto;
  width: 500px;
  background-color: white;
  margin: auto;
  border-radius: 15px;
  margin-top: 50px;
}

#mover-cima {
  border: none;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(250, 136, 6);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

#mover-baixo {
  border: none;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: rgb(250, 136, 6);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}
